
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500;
}

form{
	font-size: 32pt;
}

input[type=text]{
	font-size: 32pt;
	padding: 10px;
	text-align: right;
	width: 45%;
	margin-bottom: 20px;
}

input[type=button]{
	background-color: #ED5F21;
	border: none;
	color: #FFFFFF;
	font-size: 16pt;
	padding: 10px;
	cursor: pointer;
	-moz-border-radius: 0;
  	-webkit-border-radius: 0;
  	-webkit-appearance: none;
  	
}

h1{
	margin-bottom: 20px;

}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.bgwidth{
	width: 100%;
}

.bgheight{
	height: 100%;
}

#loading{
	display: none;
}

#quote{

}

#quote-text h1{

}

#quote-text h2{

}

#wrapper{
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}